Package: c8y-ipk-pubkey
Priority: optional
Section: Misc
Version: 1.0
Architecture: arm
Maintainer: support@cumulocity.com
Depends:
Description: Installing new public key for Cumulocity's NTC SmartREST Agent IPK package
