Package: cumulocity-ntc-agent
Priority: optional
Section: Misc
Version: 1.0.2
Architecture: arm
Maintainer: Software AG Cumulocity IoT <Helpdesk-CumulocityIoT@softwareag.com>
Depends:
Description: NetComm Device Agent for Cumulocity.
 Including
  Mozilla CA cert bundle with Cumulocity addtions.
  A public key for IPK packages signed by Cumulocity.