Package: smartrest-agent
Priority: optional
Section: Misc
Version: 5.0.0
Architecture: arm
Maintainer: Software AG Cumulocity IoT <Helpdesk-CumulocityIoT@softwareag.com>
Depends:
Description: NTC SmartREST agent for Cumulocity.
